<div class="card">
    <div class="user-title">
        <i class="fa-regular fa-circle-user user-icon"></i>  <!-- FONTAWESOME : i use this free font because the real font used is for pro-->
        <b class="user-name">Danielle HON</b><span class="age">{{ patientDatas.age }} ans</span>
        <p class="user-info-subtitle">
            <span>Né.e le {{patientDatas.birthDate}},</span>
            <span class="follow-part"> de sexe {{ patientDatas.sex}}, {{patientDatas.gender}}</span>
        </p>
        
    </div>
    <div class="user-status">
        <button class="btn-validate"><i class="fa-regular fa-circle-user"></i> Compte activé</button>  
        <button class="btn-validate"><i class="fa-regular fa-id-card"></i> Identité validée</button>
    </div>
    <hr/>
    <div class="user-info-panel">
        <div class="user-infos-subpanel">
            <div class="user-info-group">
                <span>Téléphone patient.e : </span>
                <span>Praticien.ne référent.e : </span>
                <span>Médecin référent.e : </span>
                
            </div>
            <div class="user-info-group user-datas">
                <span class="standard-u">{{patientDatas.phone}}</span>
                <span class="validate-u"><i class="fa-solid fa-user-doctor"></i>{{patientDatas.referringPractitionerFirstName}} {{patientDatas.referringPractitionerLastName}}</span>
                <span class="validate-u"><i class="fa-solid fa-user-doctor"></i>{{patientDatas.referringDoctorFirstName}} {{ patientDatas.referringDoctorLastName}}</span>
            </div>
        </div>
    
        <div class="user-infos-subpanel">
            <div class="user-info-group">
                <span>Protocole en cours : </span>
                <span>Pathologie : </span>
                <span>Date de début : </span>
            </div>
            <div class="user-info-group user-datas">
                <span><span class="label">{{patientDatas.protocol}}</span></span>
                <!-- FONTAWESOME: some icons are in pro package only -->
                <span><i class="fa-solid fa-diagram-project"></i> {{patientDatas.pathology}}</span>
                <span>{{patientDatas.protocolStartDate}}</span>
            </div>
        </div>
    </div>
</div>
