@import '../../../styles/colors.scss';

.card{
    background-color: $font-color-reverse;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 0.2rem rgba($color:$neutral-color, $alpha: 0.1);
    padding: 1.6rem;
}

i.user-icon{
    color: $standard-color;
    font-size: 3.2rem;
    border-radius: 1.6rem;
    background-color: rgba($color: $standard-color, $alpha: 0.1);
    display: inline-block;
}

.user-title{
    display: inline-block;
}

.user-title b.user-name{
    font-weight: 500;
}

.user-title b{
    padding-left: 2.2rem;
}

.user-info-subtitle span{ 
    padding-left: 5.2rem;
}

.user-info-subtitle span.follow-part{
    padding-left: 0;
}

.user-title span.age{
    padding-left: 0.6rem;
}

.user-status{
    display: block;
    float:right; 
    clear:right;
}

table.user-infos{
    font-weight: 500;
    display: inline-block;
}

td.user-info-title{
    color: $neutral-color;
    text-align: left;
    padding-right: 5rem;
}

.separate{
    width: 10rem;
    display: inline-block;
}

// Small devices (landscape phones, 576px and less)
@media (max-width: 576px) {

    .user-info-subtitle span{
        display: block;
        padding-left: 0;
    }

    .user-status{
        display: block;
        float:left; 
        clear:left;
    }

    table.user-infos{
        /* todo */
    }

    td.user-info-title{
        padding-right: 0;
    }

    td{
        text-align: right;
        width: 50%;
    }

    .separate{
        display: none;
    }
}



