@import '../../../styles/colors.scss';

.card{
    background-color: $font-color-reverse;
    border-radius: 0.8rem;
    box-shadow: 0 0.2rem 0.2rem rgba($color:$neutral-color, $alpha: 0.1);
    padding: 1.6rem;
}

i.user-icon{
    color: $standard-color;
    font-size: 3.2rem;
    border-radius: 1.6rem;
    background-color: rgba($color: $standard-color, $alpha: 0.1);
    display: inline-block;
    vertical-align: middle;
}

.user-title{
    display: inline-block;
}

.user-title b.user-name{
    font-weight: 500;
}

.user-title b{
    padding-left: 2rem;
}

.user-info-subtitle span{ 
    padding-left: 5.2rem;
}

.user-info-subtitle span.follow-part{
    padding-left: 0;
}

.user-title span.age{
    padding-left: 0.6rem;
}

.user-status{
    display: block;
    float:right; 
    clear:right;
}

/* panel user datas */
div.user-info-panel{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

div.user-infos-subpanel{
    font-weight: 500;
    display: flex;
    gap: 4rem;
    flex: 1;
}

div.user-info-group{
    color: $neutral-color;
    display: flex;
    flex-direction: column;
}

div.user-info-group span i{
 padding-right: 0.4rem;
}


// Small devices (landscape phones, 576px and less)
@media (max-width: 576px) {

    .user-info-subtitle span{
        display: block;
        padding-left: 0;
    }

    .user-status{
        display: block;
        float:left; 
        clear:left;
    }


    div.user-info-panel{
        display: flex;
        flex-direction: column;
    }

    div.user-infos-subpanel{
        gap: 0rem;
    }

    div.user-info-group{
        flex: 1;
    }

    div.user-datas span{
        text-align: right;
    }
}



