<div class="card">
    <div class="user-title">
        <i class="fa-regular fa-circle-user user-icon"></i>  <!-- FONTAWESOME : i use this free font because the real font used is for pro-->
        <b class="user-name">Danielle HON</b><span class="age">{{ patientDatas.age }} ans</span>
        <p class="user-info-subtitle">
            <span>Né.e le {{patientDatas.birthDate}},</span>
            <span class="follow-part"> de sexe {{ patientDatas.sex}}, {{patientDatas.gender}}</span>
        </p>
        
    </div>
    <div class="user-status">
        <button class="btn-validate"><i class="fa-regular fa-circle-user"></i> Compte activé</button>  
        <button class="btn-validate"><i class="fa-regular fa-id-card"></i> Identité validée</button>
    </div>
    <hr/>
    <table class="user-infos">
        <tbody>
            <tr>
                <td class="user-info-title"><span>Téléphone patient.e : </span></td><td><span class="standard-u">{{patientDatas.phone}}</span></td>
            </tr>
            <tr>
                <td class="user-info-title"><span>Praticien.ne référent.e : </span></td><td><span class="validate-u"><i class="fa-solid fa-user-doctor"></i> {{patientDatas.referringPractitionerFirstName}} {{patientDatas.referringPractitionerLastName}}</span></td>
            </tr>
            <tr>
                <td class="user-info-title"><span>Médecin référent.e : </span></td><td><span class="validate-u"><i class="fa-solid fa-user-doctor"></i> {{patientDatas.referringDoctorFirstName}} {{ patientDatas.referringDoctorLastName}}</span></td>
            </tr>
        </tbody>
    </table>
    <div class="separate"></div>
    <table class="user-infos">
        <tbody>
            <tr>
                <td class="user-info-title"><span>Protocole en cours : </span></td><td><span class="label">{{patientDatas.protocol}}</span></td>
            </tr>
            <tr>
                <!-- FONTAWESOME: some icons are in pro package only -->
                <td class="user-info-title"><span>Pathologie : </span></td><td><span><i class="fa-solid fa-diagram-project"></i> {{patientDatas.pathology}}</span></td>
            </tr>
            <tr>
                <td class="user-info-title"><span>Date de début : </span></td><td><span>{{patientDatas.protocolStartDate}}</span></td>
            </tr>
        </tbody>
    </table>

</div>
